<div class="container mx-auto py-10">

    <div class="flex flex-row">
        <div id="create-new-chat" class="w-4/12 my-10 px-10">
            <h1 class="text-4xl font-bold">
                Welcome,
                {{userName}}
            </h1>
            <h2 class="font-bold text-2xl my-10">Online users:</h2>
            <ul id="online-users">

            </ul>
            <form id="new-chat">
                <h3>Or create chat by userID:</h3>
                <input type="text" id="chat-user" placeholder="User id of user"
                    class="w-full p-2 border my-10 rounded-lg" />
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Create new chat
                </button>
            </form>
            <div id="chat_history_select">
                {{#each customChats as |id|}}
                <button id="chat{{id.id}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Chat {{id.id}}</button>
                {{/each}}
            </div>
        </div>

        <div id="chat-list" class="w-8/12">
            <p>{{userName}}'s' Chat Log!</p>
            {{#each customChats as |chat|}}
            <div id="{{chat.id}}" style="display:none" class="h-full w-8/12 bg-cyan-100 drop-shadow-md">
                <div id="messagesholder" class="overflow-auto max-h-full pb-[100px]">
                    {{#each chat.chat_log as |chatElement|}}
                    <div
                        class='flex flex-row justify-between items-center p-2 bg-indigo-100 border-b-2 border-indigo-200'>
                        <p class='w-full h-full text-left text-sm text-indigo-600'>{{chatElement.username}}:
                            {{chatElement.message}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<script src="/js/user-state.js">
</script>
<script src="/js/dashboard.js">
</script>